{% comment %}
This is a template for displaying a single project in your archive.
You can customize this template according to your preferences.
{% endcomment %}

<div class="project">

  <h2 class="project-title text-center">{{ post.title }}</h2>
  
  <div class="project-meta text-center">
    {% if post.date %}
      <span class="project-date"><i class="far fa-calendar-alt"></i> {{ post.date | date: "%B %-d, %Y" }}</span>
    {% endif %}
    {% if post.author %}
      <span class="project-author"><i class="far fa-user"></i> {{ post.author }}</span>
    {% endif %}
  </div>

  <div class="project-content">
    {{ post.content | markdownify }}
  </div>

  {% if post.url %}
    <a href="{{ post.url }}" class="project-link btn btn--primary">View Project</a>
  {% endif %}
</div>
