{% comment %}
This is a template for displaying a single project in your archive.
You can customize this template according to your preferences.
{% endcomment %}

<div class="post">
  <h1>Kire Bhai achos na nai?</h1>
  <h2 class="post-title">{{ post.title }}</h2>
  <h1>Hello There!</h1>
  <p class="post-meta">
    {% if post.date %}
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
    {% endif %}
    {% if post.author %}
      <span class="post-author">by {{ post.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">
    {{ post.content | markdownify }}
  </div>

  {% if post.url %}
    <p class="post-link"><a href="{{ post.url }}" class="btn btn--info">View Project</a></p>
  {% endif %}
</div>
